{% extends 'base.html.twig' %}

{% block title %}Souspays index{% endblock %}

{% block body %}
    <h1>Souspays index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>SEQSOUSPAYS</th>
                <th>Pays</th>
                <th>LIBSOUSPAYS</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for souspay in souspays %}
            <tr>
                <td>{{ souspay.SEQSOUSPAYS }}</td>
                <td>{{ souspay.LIBPAYS }}</td>
                <td>{{ souspay.LIBSOUSPAYS }}</td>
                <td>
                    <a href="{{ path('app_souspays_show', {'SEQSOUSPAYS': souspay.SEQSOUSPAYS}) }}">show</a>
                    <a href="{{ path('app_souspays_edit', {'SEQSOUSPAYS': souspay.SEQSOUSPAYS}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_souspays_new') }}">Create new</a>
{% endblock %}
