{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
    <style>
        .form-container {
            border: 1px solid #009cc2; /* Couleur de la bordure */
            border-radius: 10px; /* Coins arrondis */
            padding: 20px; /* Espacement intérieur */
            background-color: #f8f9fa; /* Couleur de fond légèrement gris */
            margin-bottom: 20px; /* Espacement en bas */
        }

        .form-row {
            display: flex; /* Flexbox pour l'alignement */
            justify-content: center; /* Centre le contenu horizontalement */
        }

        .form-control {
            width: 200px; /* Largeur fixe pour les champs */
        }
        ::placeholder{
            text-transform: lowercase;
        }
    </style>
    <div class="card card-h-10 mt-1">
        <div class="card-body table-responsive">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Liste produits</h3>
                <div class="dropdown">
                    <a class="btn btn-primary" href="{{ path('app_produit_new') }}"> <i class="uil uil-plus-circle"></i> Ajouter produit</a>
                </div>
            </div>

            <form method="get" action="{{ path('app_produit_index') }}" class="form-container mb-3">
                <div class="row g-2"> <!-- Utilisez 'row' et 'g-2' pour l'espacement -->
                    <div class="col-12 col-md col-sm col-lg">
                        <input type="text" name="codeprod" value="{{ app.request.query.get('codeprod') }}" class="form-control text-uppercase" placeholder="Code Produit" maxlength="5">
                    </div>
                    <div class="col-12 col-md col-sm col-lg">
                        <input type="text" name="libprod" value="{{ app.request.query.get('libprod') }}" class="form-control" placeholder="Libellé Produit">
                    </div>
                    <div class="col-12 col-md col-sm col-lg">
                        <select name="pays" class="form-control">
                            <option value="">-- Sélectionner un pays --</option>
                            {% for pays in paysList %}
                                <option value="{{ pays.IDPAYS }}" {% if app.request.query.get('pays') == pays.IDPAYS %}selected{% endif %}>
                                    {{ pays.LIBPAYS }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md col-sm col-lg"> <!-- 'col-md-auto' pour le bouton de taille automatique -->
                        <button type="submit" class="btn btn-success"><i class="uil uil-search"></i> Filtrer</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive"> <!-- Ajoutez cette div pour le défilement responsive -->
                <table id="basic-datatable" class="table">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th class="text-nowrap d-none d-md-table-cell">Code produit</th>
                        <th >Libellé</th>
                        <th class="text-nowrap d-none d-md-table-cell">Adresse</th>
                        <th class="text-nowrap d-none d-md-table-cell">Téléphone</th>
                        <th class="text-nowrap d-none d-md-table-cell">Email</th>
                        <th class="text-nowrap d-none d-md-table-cell">Pays</th>
                        <th class="text-nowrap d-none d-md-table-cell">Sous pays</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td>{{ produit.SEQPROD }}</td>
                            <td class="d-none d-md-table-cell">{{ produit.CODEPROD }}</td>
                            <td class="text-nowrap">{{ produit.LIBPROD }}</td>
                            <td class="text-nowrap d-none d-md-table-cell">{{ produit.ADRESSE }}</td>
                            <td class="text-nowrap d-none d-md-table-cell">{{ produit.TEL }}</td>
                            <td class="text-nowrap d-none d-md-table-cell">{{ produit.EMAIL }}</td>
                            <td class="text-nowrap d-none d-md-table-cell">{{ produit.IDPAYS.LIBPAYS }}</td>
                            <td class="text-nowrap d-none d-md-table-cell">{{ (produit.SEQSOUSPAYS) ? produit.SEQSOUSPAYS.LIBSOUSPAYS : '' }}</td>
                            <td>
                                <a title="Détails de ce produit" href="{{ path('app_produit_show', {'SEQPROD': produit.SEQPROD}) }}"><i class="uil uil-eye"></i></a>
                                <a title="Modifier ce produit" href="{{ path('app_produit_edit', {'SEQPROD': produit.SEQPROD}) }}"><i class="uil uil-edit" style="color: #0ac58f"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr >
                            <td colspan="9" class="text-center p-2">Aucun enregistrement trouvé</td> <!-- Changez le nombre de colonnes si nécessaire -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
