{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>SEQPROD</th>
                <td>{{ produit.SEQPROD }}</td>
            </tr>
            <tr>
                <th>LIBPROD</th>
                <td>{{ produit.LIBPROD }}</td>
            </tr>
            <tr>
                <th>ADRESSE</th>
                <td>{{ produit.ADRESSE }}</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>{{ produit.TEL }}</td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td>{{ produit.EMAIL }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'SEQPROD': produit.SEQPROD}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
